{% extends "../Layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- Table -->
            <section class="box">
                <h3>Detalles del Cliente: {{cliente.nombre}} {{cliente.apellido}}</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Dni</th>
                                <th>Celular</th>
                                <th>EMail</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{cliente.id}}</td>
                                    <td>{{cliente.dni}}</td>
                                    <td>{{cliente.celular}}</td>
                                    <td>{{cliente.mail}}</td>
                                    <td><a href="{% url 'ClienteEdit' cliente.id %}">Editar</a> <a href="{% url 'ClienteDelete' cliente.id %}">Eliminar</a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </section>
    </div>
</div>
{% endblock %}