{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Inicio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="#">MyTaller</a> App</h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'Inicio' %}">Inicio</a></li>
							<li><a href="{% url 'Aboutme' %}">Acerca de Mí</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down">Administrar</a>
								<ul>
									<li>
										<a href="#">Clientes</a>
										<ul>
											<li><a href="{% url 'Clientes' %}">Listar</a></li>
											<li><a href="{% url 'ClienteAdd' %}">Agregar</a></li>
											<li><a href="{% url 'clienteSearch' %}">Buscar</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Autos</a>
										<ul>
											<li><a href="{% url 'Autos' %}">Listar</a></li>
											<li><a href="{% url 'AutoAdd' %}">Agregar</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Historiales</a>
										<ul>
											<li><a href="{% url 'Historiales' %}">Listar</a></li>
											<li><a href="{% url 'HistorialAdd' %}">Agregar</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Presupuestos</a>
										<ul>
											<li><a href="{% url 'Presupuestos' %}">Listar</a></li>
											<li><a href="{% url 'PresupuestoAdd' %}">Agregar</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="icon solid fa-angle-down">Mecanicos</a>
								<ul>
									<li>
										<a href="{% url 'MecanicoRegister' %}">Registrar</a>
										
									</li>
									<li>
										<a href="{% url 'Mecanicos' %}">Listar</a>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Acceder</a></li>
						</ul>
						</nav>
				</header>
                	<!-- Banner -->
                <section id="banner">
                    <h2>MyTaller</h2>
                    <p>Servicio Online para conocer el historial de tus vehiculos.</p>
                </section>

                <!-- Main -->
                <section id="main" class="container">
                    {% block content %}

                    {% endblock %}
                </section>    
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.instagram.com/juanzoylosquias/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; MyTallerApp.</li><li>Diseño: <a href="https://www.linkedin.com/in/ezequiel-orue/" target="_blank">Ezequiel Orué</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>