{% extends "../Layout/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <section class="box">
            <h3>Alta de Historial</h3>
            {% if miForm.errors %}
                <p style="color: #ff7f7f;">Error en los datos del Formulario</p>
            {% endif %}
            <form method="POST" action="/add-historial/">{% csrf_token %}
                <div class="row gtr-uniform gtr-50">
                    
                        {{miForm.as_table}}

                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Agregar Historial"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}