{% extends "../Layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- Table -->
            <section class="box">
                <h3>Listado de Presupuestos</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Detalle</th>
                                <th>Costo</th>
                                <th>Forma de Pago</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in object_list %}
                                <tr>
                                    <td>{{p.id}}</td>
                                    <td>{{p.detalle}}</td>
                                    <td>{{p.costo}}</td>
                                    <td>
                                        {% if p.fpago == '0' %}
                                            Débito
                                        {% elif p.fpago == '1' %}
                                            Crédito
                                        {% elif p.fpago == '2' %}
                                            Transferencia
                                        {% elif p.fpago == '3' %}
                                            Efectivo
                                        {% endif %}
                                    </td>
                                    <td>{% if p.estado %} Abonado {% else %} Impago {% endif %}</td>
                                    <td><a href="{% url 'PresupuestoEdit' p.id %}">Editar</a> <a href="{% url 'PresupuestoDelete' p.id %}">Eliminar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
    </div>
</div>
{% endblock %}
