<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Autos</title>
</head>
<body>
    {% for a in autos %}
        <li>{{a}}</li>
        <button>
            <a href="{% url 'EditarAuto' a.patente %}">Editar</a>
        </button>
        <button>
            <a href="{% url 'EliminarAuto' a.patente %}">Eliminar</a>
        </button>
    {% endfor %}
</body>
</html>